@media screen and (max-width: 768px) {
    .contentvr {
        padding-top: 10px;
    }
    
    .contentvr1 {
        max-width: max-content;
    }

    .fluid {
        display: flex;
    }

    .events1 {
        display: block;
    }

    .custom-col {
        height: auto;
        width: 360px;
        display: block;
    }

    .custom-col2{
        height: auto;
        width: 360px;
    }

    .yt {
        width: auto;
        height: auto;
    }

    .oculus {
        width: auto;
        height: auto;
    }

    .butuna {
        margin-left: auto;
    }

    .tutor {
        display: flex;
    }

    .exiting {
        flex: 1 0 100%;
        grid-column: span 12;
    }
}

@media screen and (max-width: 712px) {
    .contentvr {
        padding-top: 10px;
    }

    .events1 {
        display: block;
    }

    .custom-col {
        height: auto;
        width: 360px;
        display: block;
        justify-content: center;
    }

    .custom-col2{
        height: auto;
        width: 360px;
    }

    .yt {
        width: 200px;
        height: auto;
    }

    .butuna {
        margin-left: auto;
    }
}

@media screen and (max-width: 976px) {
    .contentvr {
        padding-top: 10px;
    }

    .events1 {
        display: block;
    }

    .custom-col {
        height: auto;
        width: 600px;
        display: block;
    }

    .custom-col2{
        height: auto;
        width: 600px;
    }

    .yt {
        width: auto;
        height: auto;
    }

    .butuna {
        margin-left: auto;
    }
}

@media screen and (max-width: 499px) {
    .contentvr {
        padding-top: 10px;
    }

    .events1 {
        display: block;
    }

    .custom-col {
        height: auto;
        width: 280px;
        display: block;
    }

    .custom-col2{
        height: auto;
        width: 280px;
    }
    .yt {
        width: 380px;
        height: auto;
    }
}

@media screen and (max-width: 399px) {
    .yt {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 350px) {
    .yt {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 599px) {
    .yt {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 299px) {
    .yt {
        width: auto;
        height: auto;
    }

    .butuna {
        display: grid;
    }
}